:root {
  --un-shadow-color: #000;
  --primary-color: #fff9e1;
  --welcome-bg-color: #ffd580;
  --text-color: #4a4a4a;
  --text-color-light: #9e9e9e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Serif SC", serif;
}

*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

html {
  font-size: 14px;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  font: inherit;
}

.icon {
  fill: currentColor;
  width: 1.2em;
  height: 1.2em;
}
